<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{start.index.title}">Getting Started: DingIt</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{css/bootstrap.min.css}"/>
    <link href="../static/css/styles.css" rel="stylesheet" media="screen" th:href="@{css/styles.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Courgette|Mogra" rel="stylesheet"/>
    <script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
    <script src="../static/js/tether.min.js" th:src="@{js/tether.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    <script src="../static/js/start/start.js" th:src="@{js/start/start.js}"></script>
</head>
<body>
<div class="container">
    <div class="form-signin" id="signInForm">
        <form id="loginForm">
            <h1 class="start-title">Let's DingIt</h1>

            <label for="inputUsernameForSignIn" class="sr-only">Username</label>
            <input type="text" id="inputUsernameForSignIn" class="form-control" placeholder="Username" required="required"/>

            <label for="inputPasswordForSignIn" class="sr-only">Password</label>
            <input type="password" id="inputPasswordForSignIn" class="form-control" placeholder="Password" required="required"/>
            <div id="signInErrorMessage" class="form-control-feedback has-danger"><p>Username or password
            incorrect. Please retry!</p></div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me </input>
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="signInButton"
                    onclick="performSignIn()">Sign in</button>
            <br/>
            <br/>
            <p>Wait, I'm not a member yet!</p>
        </form>

        <button class="btn btn-lg btn-danger btn-block" type="submit" id="signUpButton"
                onclick="performSignUp()">Sign up</button>

    </div>

    <div class="form-signin" id="signUpForm">
        <form id="registerForm" class="registerForm" method="post">
            <h1 class="start-title">Let's DingIt</h1>

            <label for="inputFullName" class="sr-only">Full name</label>
            <input type="text" id="inputFullName" name="inputFullName" class="form-control" placeholder="Full name" required="required"/>

            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" name="inputUsername" class="form-control" placeholder="Username" required="required"/>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required="required"/>

            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required="required"/>

            <label for="inputCity" class="sr-only">City</label>
            <input type="text" id="inputCity" name="inputCity" class="form-control" placeholder="City" required="required"/>

            <label for="inputCountry" class="sr-only">Country</label>
            <input type="text" id="inputCountry" name="inputCountry" class="form-control" placeholder="Country" required="required"/>
            <!--<dialog type="text" id="inputCountry" class="form-control" th:placeholder="Country"/>-->
            <button class="btn btn-lg btn-danger btn-block" type="submit" id="submitButton">Submit</button>
        </form>

        <p id="postSubmitMessage"></p>
        <button type="button" id="continueButton" class="btn btn-lg btn-success">Continue</button>

    </div>

</div> <!-- /container -->
</body>
</html>