<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Q-stion</title>

    <!-- Bootstrap Core CSS -->
    <link  rel="stylesheet" media="screen" th:href="@{../css/bootstrap.min.css}"/>

    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{../css/freelancer.css}"/>

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" th:href="@{../css/font-awesome.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script th:src="@{../js/jquery.min.js}"></script>
    <script th:src="@{../js/tether.min.js}"></script>


    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{../js/bootstrap.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!--&lt;!&ndash; Contact Form JavaScript &ndash;&gt;-->
    <!--<script src="js/jqBootstrapValidation.js"></script>-->
    <!--<script src="js/contact_me.js"></script>-->

    <!-- Theme JavaScript -->
    <script th:src="@{../js/freelancer.js}"></script>
    <script th:src="@{../js/homepage/homepage.js}"></script>
    <script th:src="@{../js/addQuestion/addQuestion.js}"></script>

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--<a class="navbar-brand" href="#">Navbar</a>-->

    <div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" th:text="${currentUserFullName}"></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Header -->
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h1 class="name">Others' activity</h1>
                    <hr class="star-light"/>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container" id="userPortfolio">
        <div>
            <h3>All Questions</h3>
            <table class="table table-striped" id="userQuestions">
                <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Question</th>
                    <th>Advices</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="question : ${allQuestions}">
                    <td width="20%" th:text="${question.id}"></td>
                    <td width="20%" th:text="${question.questionText}"></td>
                    <td width="20%" th:each="advice: ${question.advices}">
                        <p th:text="${advice.adviceText}"></p>
                    </td>
                    <td>
                        <a th:href="@{'/allQuestions/showOneQuestion/' + ${question.id}}" class="btn btn-lg btn-danger">
                            See</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>TODO</p>
            </div>
            <div class="col-lg-4">
                <p>todo</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Q-stions 2017
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>


</body>

</html>
